<figure class="card">
  <div class="card-image">{%BAT_IMAGE%}</div>

  <div class="card-title-box">
		<h2 class="card-title">{%BAT_MANUFACTURER%}
    <h2 class="card-title">{%BAT_NAME%}</h2>
  </div>

  <div class="card-details">
    <div class="card-detail-box">
      <h6 class="card-detail card-detail--certified  {%BAT_CERTIFICATION%}">
       BBCOR CERTIFIED!
      </h6>
    </div>

    <div class="card-detail-box">
      <h6 class="card-detail">{%BAT_MATERIAL%}</h6>
    </div>

    <div class="card-detail-box">
      <h6 class="card-detail card-detail--size">{%BAT_LENGTH_WEIGHT%}</h6>
    </div>

    <div class="card-detail-box">
      <h6 class="card-detail card-detail--size">{%BAT_BARREL_RADIUS%}</h6>
    </div>
  </div>

  <a class="card-link" href="/bats?id={%BAT_ID%}">
    <span>See more <i class="image-right">👉</i></span>
  </a>
</figure>
