<figure class="card">
  <div class="card-image"><img src="{%BAT_IMAGE%}" /></div>

  <div class="card-title-box">
    <h2 class="card-title">
      MANUFACTURER: <span class="bat-name-card">{%BAT_MANUFACTURER%}</span>
    </h2>
    <h3 class="card-title">
      NAME: <span class="bat-name-card">{%BAT_NAME%}</span>
    </h3>
  </div>

  <div class="card-details">
    <div class="card-detail-box">
      <h6 class="card-detail card-detail--certified {%BAT_CERTIFICATION%}">
        <img src="{%BAT_CERTIFICATION%}" />
      </h6>
    </div>

    <div class="card-detail-box">
      <h6 class="card-detail">MATERIAL: {%BAT_MATERIAL%}</h6>
    </div>

    <div class="card-detail-box">
      <h6 class="card-detail card-detail--size">Size:</h6>
      <select name="bat-size" class="card-detail-dropdown">
        {% for length, weight in bat.lengths|zip(bat.weights) %}
        <option value="{{ length }}-{{ weight }}">{%BAT_SIZE_OPTIONS%}</option>
        {% endfor %}
      </select>
    </div>

    <div class="card-detail-box">
      <h6 class="card-detail card-detail--size">
        BARREL RADIUS: {%BAT_BARREL_RADIUS%}
      </h6>
    </div>
  </div>

  <a class="card-link" href="/baseball-bats?id={%BAT_ID%}"> LET'S SLUG! </a>
</figure>
