<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
<body>
	<div class="container">
		<h1>Baseball Bats</h1>

		<figure class="baseball_bat">
			<a href="/" class="back_button">
				<span class="image-left"></span>Back
			</a>
			<div class="product__hero">
				<span class="bat_image bat_image-1">{%IMAGE%}</span>
				<span class="bat_image bat_image-2">{%IMAGE%}</span>
				<span class="bat_image bat_image-3">{%IMAGE%}</span>
				<span class="bat_image bat_image-4">{%IMAGE%}</span>
				<span class="bat_image bat_image-5">{%IMAGE%}</span>
				<span class="bat_image bat_image-6">{%IMAGE%}</span>
				<span class="bat_image bat_image-7">{%IMAGE%}</span>
				<span class="bat_image bat_image-8">{%IMAGE%}</span>
				<span class="bat_image bat_image-9">{%IMAGE%}</span>
			</div>
			<h2 class="bat_manufacturer">{%MANUFACTURER%}</h2>
			<h2 class="bat_name">{%NAME%}</h2>
			<div class="bat_details">
				<p><span class="image-left"></span>{%MATERIAL%}</p>
				<p><span class="image-left"></span>{%LENGTHS_WEIGHTS%}</p>
				<p><span class="image-left"></span>{%BARREL_DIAMETER%}</p>
				<p><span class="image-left"></span>{%CERTIFICATION%}</p>
			</div>

			<a href="#" class="bat_link">
				<span class="image-left"></span>
				<span>Check it out at {%LINK%}!</span>
			</a>

			<p class="bat_description">{%DESCRIPTION%}</p>
		</figure>
	</div>
</body>
</html>
